// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$bordeaux: #D23333;

$black-seventy: rgba(0, 0, 0, 0.7);
$black-sixty: rgba(0, 0, 0, 0.6);
$black-forty: rgba(0, 0, 0, 0.4);
$black-thirty: rgba(0, 0, 0, 0.3);
$black-twenty: rgba(0, 0, 0, 0.2);
