<div class="wrapper">
  <div id="profile" class="card-profile">
    Profile
  </div>

  <div class="card-profile">
    Contributions
  </div>

  <div class="card-profile">
    Followers
  </div>

  <div class="card-profile">
    Repositories
  </div>

  <div id="info" class="card-profile">
    More Info
  </div>
</div>
